<tr class="line">
    <td class="text"><%= post.comment %></td>
    <td><%= link_to 'Show', post, class: "btn show" %></td>
    <td><%= link_to 'Edit', edit_post_path(post), class: "btn edit" %></td>
    <td><%= link_to '&times;'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn delete"%></td>
</tr>