<% @pageTitle = " Let's talk!  "%>
<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="show-post">
    <% @posts.each do |post| %>

      <%= render "form_post", post: post%>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, id: :new_link, remote: true %>
